{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">New Ideas</h5>
    <div class="card-body">
        <p class="card-text">we are always looking for new ideas,
            if you would like to create a post click below button</p>
        <a href="{% url 'blog:post-add' %}"
           class="btn btn-danger">Create Article</a>
    </div>
</div>
</div>

  
  {% endblock sidebar %}